*{
  box-sizing: border-box;
  --backBlue: rgb(127, 107, 212);
  --mainBlue: rgb(0,0,70);
  --mainRed: rgb(88, 1, 1);
  --semiRed: rgb(216, 81, 81);
}

body{
  background-color: var(--backBlue);
}

#root {
 margin: 0;
 margin-top: 1px;
 padding: 0;
}

.header-container{
  display: flex;
  flex-direction: column;
  background-color: var(--mainBlue);
  border-top: 15px solid var(--mainRed);
  width: 100vw;
  margin: 0 auto;
  box-shadow: 0 5px 20px black;
}

.general-header{
  text-align: center;
  color: rgb(192, 189, 189);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  text-shadow: 5px 5px 5px black;
  margin: 5px auto;
  margin-bottom: 20px;
}

nav {
  display: flex;
  justify-content:flex-start;
  align-items: flex-end;
}
nav ul{
  display: flex;
  justify-content: center;
  margin:0;
  margin-left: 10px;
  padding: 0;
}

nav ul li{
  text-align: center;
  margin:1px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--mainRed);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  list-style: none;
}

nav ul li:hover{
  background-color: rgb(14, 14, 163);
}

/*------------------------------------------------------------------------*/
.page-name{
  margin-top: 20px;
  position: relative;
}
.page-name>.page-name-txt{
  background-color: var(--mainBlue);
  color:white;
  min-width:fit-content;
  width: 10%;
  
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 700;
  border: 10px solid var(--mainRed);
  padding: 10px;
  /*box-shadow: 5px 5px 30px black;*/
  position: relative;
  left: 20px;
  z-index: 1;
}
.page-name>.page-name-hl{
  position: absolute;
  background-color: var(--mainRed);
  width: 100vw;
  height: 10px;
  top: 25px;
}

.page-name>.page-name-vl{
  position: absolute;
  background-color: var(--mainRed);
  width: 10px;
  height: 100vw;
  top: 25px;
  left: 175px;
}
