body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: Base9;
  src: url(https://res.cloudinary.com/deqy8afqv/raw/upload/v1639918752/Skill%20Presentation/Base9SCSmallCaps.4012bd8e0fc1466c492b_zlfzze.otf);
}

@font-face {
  font-family: MonotypeCorsiva;
  src: url(https://res.cloudinary.com/deqy8afqv/raw/upload/v1639918754/Skill%20Presentation/MTCORSVA.f11c44269babbad8d69b_hvebuu.TTF);
}

body::-webkit-scrollbar {
  display: none;
}

.ant-popover-inner-content ul {
  max-width: max-content;
  color: white;
  font-size: 15px;
  list-style-type: '\2714';
}

* {
  scroll-behavior: smooth;
}
